# build.xml
/build.xml

# maven
/target
/repo

# vim
.*.swp

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Mac filesystem dust
*.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
/out/

# Other Libraries
*.jar
